$dot-size: 2.5rem;

.cursor-dot {
    pointer-events: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: $dot-size;
    height: $dot-size;
    background-color: darken($blue-secondary, 11%);
    border-radius: 50%;
    opacity: 0;
    z-index: 100001;
    transform: translate(-50%, -50%);
    transition: opacity .3s ease-in-out,
                transform .3s ease-in-out;
}

[data-user-color-scheme="pink"] {
    .cursor-dot {
        background: darken($pink-primary, 11%);
    }
}

@media (prefers-color-scheme: dark) {
    :root:not([data-user-color-scheme]) {
        .cursor-dot {
            background: darken($pink-primary, 11%);
        }
    }
}

/* Hide on high contrast theme */
[data-user-color-scheme="high-contrast"] {
    .cursor-dot {
        display: none;
    }
}

/* Hide for smartphones & tablets */
@media (hover: none) and (pointer: coarse) {
    .cursor-dot {
        display: none;
    }
}

/* Hide if reduced motion preferred */
@media (prefers-reduced-motion: reduce) {
    .cursor-dot {
        display: none;
    }
}