.home-footer {
    width: calc(100% - calc(#{get-size('500')} * 2));
    margin-left: auto;
    margin-right: auto;
    color: var(--color-base);
    background-color: var(--color-primary);
    border-top: get-size('500') solid var(--color-base);
    border-bottom: calc(#{get-size('500')} * 3.5) solid var(--color-base);

    @include media-query('md') {
        border-bottom-width: get-size('500');
    }

    * {
        color: var(--color-base);
    }

    .wrapper--home {
        @include media-query('md') {
            width: calc(100% - 1.75rem);
            max-width: 43.5rem;
        }
    }

    .marquee-wrap {
        max-width: 28rem;
    }

    .copyright {
        @include media-query('md') {
            padding-top: 5.25vw;
        }

        @include media-query('xl') {
            padding-top: get-size('1300');
        }
    }

    table {
        border-collapse: collapse;

        th {
            text-align: right;
        }

        th,
        td {
            vertical-align: top;
        }
    }

    .shrinking-link {
        display: inline-block;
    }

    @media only screen and (min-width: 91.25em) {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}

[data-user-color-scheme="pink"],
[data-user-color-scheme="high-contrast"] {
    .home-footer {
        background: var(--color-text);
    }
}

[data-user-color-scheme="high-contrast"] {
    .home-footer {
        a {
            color: var(--color-base);
        }
    }
}

@media (prefers-color-scheme: dark) {
    :root:not([data-user-color-scheme]) {
        .home-footer {
            background: var(--color-text);
        }
    }
}
