.home-footer {
    border: get-size('500') solid var(--color-base);
    border-bottom-width: calc(#{get-size('500')} * 3.5);

    @include media-query('md') {
        border-bottom-width: get-size('500');
    }

    .marquee-wrap {
        max-width: 28rem;
    }

    .copyright {
        @include media-query('md') {
            padding-top: 5.25vw;
        }
        @include media-query('xl') {
            padding-top: get-size('1300');
        }
    }

    table {
        border-collapse: collapse;

        th,
        td {
            vertical-align: top;
        }
    }
}

[data-user-color-scheme="blue"] {
    .home-footer {
        background: var(--color-primary);

        * {
            color: var(--color-base);
        }
    }
}

[data-user-color-scheme="pink"],
[data-user-color-scheme="high-contrast"] {
    .home-footer {
        background: var(--color-text);
        color: var(--color-base);

        * {
            color: var(--color-base);
        }
    }
}

@media (prefers-color-scheme: dark) {
    .home-footer {
        background: var(--color-text);
        color: var(--color-base);

        * {
            color: var(--color-base);
        }
    }
}

@media screen and (-ms-high-contrast: active) {
    .home-footer {
        background: var(--color-text);
        color: var(--color-base);

        * {
            color: var(--color-base);
        }
    }
}
