.home-footer {
    border: get-size('500') solid var(--color-base);
}

[data-user-color-scheme="blue"] {
    .home-footer {
        background: var(--color-primary);

        * {
            color: var(--color-base);
        }
    }
}

[data-user-color-scheme="pink"],
[data-user-color-scheme="high-contrast"] {
    .home-footer {
        background: var(--color-text);
        color: var(--color-base);

        * {
            color: var(--color-base);
        }
    }
}

@media (prefers-color-scheme: dark) {
    .home-footer {
        background: var(--color-text);
        color: var(--color-base);

        * {
            color: var(--color-base);
        }
    }
}

@media screen and (-ms-high-contrast: active) {
    .home-footer {
        background: var(--color-text);
        color: var(--color-base);

        * {
            color: var(--color-base);
        }
    }
}
