@import "mixins/fluid-type";

@keyframes scroll-left {
    0% {
        transform: translateX(calc(100% + .8ex));
    }
    100% {
        transform: translateX(-100%);
    }
}

.marquee-wrap {
    overflow: hidden;
    border: .1rem solid;

    &:focus-within {
        outline: .2rem dashed;
    }
}

.marquee-link {
    position: relative;
    left: 10%;
    height: 3.625rem;
    width: 120%;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
    text-transform: uppercase;
    overflow: hidden;
    transition: 5s linear transform;
    transform: translateX(-20%);

    &:hover {
        transform: translateX(-10%);
    }

    &__text {
        position: absolute;
        left: -20%;
        height: 100%;
        margin: 0;
        line-height: 3.4rem;
        text-align: center;
        animation: scroll-left 5s linear infinite;

        > span:first-of-type {
            padding-right: 2rem;
        }

        > span:nth-of-type(2) {
            position: absolute;
            top: 0;
            left: 0;
            white-space: nowrap;

            span {
                text-decoration: underline;
                padding-right: 2rem;
            }
        }
    }
}

[data-user-color-scheme="high-contrast"] {
    .marquee-wrap {
        *,
        *::before,
        *::after {
            animation-duration: 0.01ms !important;
            animation-iteration-count: 1 !important;
            transition-duration: 0.01ms !important;
            scroll-behavior: auto !important;
        }

        .marquee-link {
            &:hover {
                transform: translateX(-20%); // No movement
            }
        }
    }
}

@media (prefers-reduced-motion: reduce) {
    .marquee-link {
        &:hover {
            transform: translateX(-20%); // No movement
        }
    }
}
