@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.marquee-wrap {
    overflow: hidden;
    border: .1rem solid;

    &:focus-within {
        outline: .2rem dashed;
        outline-offset: .2rem;
    }
}

.marquee-link {
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
    position: relative;
    left: -2ch;
    height: 3rem;
    width: calc(100% + 2ch);
    text-transform: uppercase;
    overflow: hidden;
    transition: 3s linear transform;
    transform: translateX(0);

    &:hover {
        transform: translateX(2ch);
    }

    &__text {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        animation: marquee 3s linear infinite;
        animation-play-state: paused;
        will-change: transform;

        > span:first-of-type {
            display: block;
            padding-left: 2.5ch;
            line-height: 2.9rem;
            text-decoration: underline;
            letter-spacing: 0.14ch;
            text-shadow: var(--tw) 0 currentColor,
                calc(var(--tw) * 2) 0 currentColor,
                calc(var(--tw) * 3) 0 currentColor,
                calc(var(--tw) * 4) 0 currentColor,
                calc(var(--tw) * 5) 0 currentColor,
                calc(var(--tw) * 6) 0 currentColor;
        }
    }

    @include media-query("md") {
        height: 3.625rem;

        &__text {
            > span:first-of-type {
                line-height: 3.4rem;
            }
        }
    }
}

[data-user-color-scheme="high-contrast"] {
    .marquee-wrap {
        .marquee-link {
            &:hover {
                transform: translateX(-20%); // No movement
            }

            &__text {
                animation-play-state: paused !important;
            }
        }
    }
}

@media (prefers-reduced-motion: reduce) {
    .marquee-link {
        &:hover {
            transform: translateX(-20%); // No movement
        }

        &__text {
            animation-play-state: paused !important;
        }
    }
}
