.section-anchor {
    display: none;

    @include media-query('md') {
        position: sticky;
        top: 1rem;
        display: block;
        width: min-content;
        color: var(--color-secondary);
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: .14ch;

        span {
            @include sideways;
        }
    }
}
