.section-anchor {
    display: none;

    @include media-query('md') {
        display: block;
        color: var(--color-secondary);
        @include sideways;
        text-transform: uppercase;
        text-decoration: none;
    }
}
