.sidebar {
    position: relative;
    width: 100%;
    line-height: 1.375;
    overflow: scroll;

    @include media-query('md') {
        position: sticky;
        top: 0;
        width: auto;
        height: 100vh;
        min-width: 22rem;

        .sidebar--internal {
            padding-bottom: get-size('1300');
        }
    }

    // Keep sidebar aligned right
    @include media-query('xl') {
        position: fixed;
        right: 0;
        max-width: $sidebar_width;
    }

    &__theme-toggle--wrap {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: -#{get-size('400')};
            left: -#{get-size('400')};
            display: block;
            width: 100%;
            height: 100%;
            z-index: 0;
            border: .1rem solid $blue-base;
            background: repeating-linear-gradient(
                45deg,
                $blue-base,
                $blue-base .1rem,
                transparent .1rem,
                transparent #{get-size('500')}
            );
        }
    }

    &__theme-toggle {
        position: relative;
        min-height: 15rem;
        max-height: 45vh;
        overflow: hidden;
        z-index: 1;
        background-color: $blue-base;
    
        .theme-toggle {
            position: absolute;
            right: get-size('400');
            bottom: get-size('400');
        }
    }

    &__image {
        position: relative;
        height: 0;
        overflow: hidden;
        padding-bottom: 100%;
        
        img {
            @include vis-h;
            object-fit: cover;
            object-position: center;
            position: absolute;
            height: 100%;
            transition: .3s ease-in-out opacity, 0s linear visibility .3s;
        }
    }
}

.high-contrast-toggle {
    width: calc(100% + (#{get-size('700')} * 2) );
    margin-top: #{get-size('975')};
    margin-left: -#{get-size('700')};
    padding: #{get-size('300')} #{get-size('700')};
}

@media (prefers-color-scheme: no-preference) {
    :root:not([data-user-color-scheme]) {
        .sidebar__image__1 {
            @include sidebar-img-visible;
        }
    }
}

@media (prefers-color-scheme: light) {
    :root:not([data-user-color-scheme]) {
        .sidebar__image__1 {
            @include sidebar-img-visible;
        }
    }
}

[data-user-color-scheme="blue"] {
    .sidebar__image__1 {
        @include sidebar-img-visible;
    }
}

@media (prefers-color-scheme: dark) {
    :root:not([data-user-color-scheme]) {
        .sidebar__image__2 {
            @include sidebar-img-visible;
        }
    }
}

[data-user-color-scheme="pink"] {
    .sidebar__image__2 {
        @include sidebar-img-visible;
    }
}

[data-user-color-scheme="high-contrast"] {
    .sidebar {
        background-color: var(--color-text);

        * {
            color: var(--color-base);
        }

        &__image__3 {
            @include sidebar-img-visible;
        }
    }
}
