.sidebar {
    position: relative;
    min-width: 22rem;
    line-height: 1.375;
}

@include media-query('md') {
    .sidebar--internal {
        position: sticky;
        top: get-size('700');
    }
}

.sidebar__theme-toggle {
    position: relative;

    .theme-toggle {
        position: absolute;
        right: get-size('400');
        bottom: get-size('400');
    }
}

.sidebar__image {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;

    img {
        object-fit: cover;
        object-position: center;
        position: absolute;
        height: 100%;
    }
}