.sidebar {
    position: relative;
    width: 100%;
    line-height: 1.375;

    &__theme-toggle {
        position: relative;
    
        .theme-toggle {
            position: absolute;
            right: get-size('400');
            bottom: get-size('400');
        }
    }

    &__image {
        position: relative;
        height: 0;
        overflow: hidden;
        padding-bottom: 100%;
    
        img {
            object-fit: cover;
            object-position: center;
            position: absolute;
            height: 100%;
        }
    }
}

@include media-query('md') {
    .sidebar {
        width: auto;
        min-width: 22rem;
    }

    .sidebar--internal {
        position: sticky;
        top: get-size('700');
    }
}


@media screen and (-ms-high-contrast: active) {
    :root:not([data-user-color-scheme]) {
    }
}

[data-user-color-scheme="high-contrast"] {
    .sidebar {
        background-color: var(--color-text);

        * {
            color: var(--color-base);
        }
    }
}

.high-contrast-toggle {
    width: calc(100% + (#{get-size('700')} * 2) );
    margin-top: #{get-size('975')};
    margin-left: -#{get-size('700')};
    padding: #{get-size('300')} #{get-size('700')};
}