$toggle-button-dimension: 4rem;

.no-js {
    // Hide these options if no JS
    .theme-toggle,
    .high-contrast-toggle  {
        display: none;
    }
}

// Color Theme Toggle
.hanger-button {
	position: relative;
	width: $toggle-button-dimension;
	height: $toggle-button-dimension;
	background: var(--color-text);
	border: 0;
    border-radius: 100%;
    overflow: hidden;
	
	&:hover {
		cursor: pointer;
	}

	svg {
        position: absolute;
        width: $toggle-button-dimension;
        height: $toggle-button-dimension;
		top: 0;
        left: 0;

        path {
            stroke: var(--color-base);
        }
	}
}

.toggle-button {
    display: inline-flex;
    background: var(--color-text);
    color: var(--color-base);
    border: none;
    padding: 0.5rem 1rem;

    &:focus {
        outline-color: var(--color-text);
    }
}

[data-user-color-scheme="high-contrast"] {
    .toggle-button {
        display: none;
    }
}

// High Contrast Toggle
.high-contrast-toggle {
    position: fixed;
    bottom: 0;
    align-items: center;
    background-color: var(--color-text);

    @include media-query('md') {
        max-width: $sidebar_width;
    }

    &__state {
        display: inline-block;
        width: 2.5rem;
        text-transform: uppercase;
        text-decoration: underline;
    }
}

.high-contrast-toggle,
.high-contrast-toggle-btn {
    color: var(--color-base);
}

.high-contrast-toggle-btn__icon {
    background-color: var(--color-secondary);
}

@media (prefers-color-scheme: dark) {
    :root:not([data-user-color-scheme]) {
        .high-contrast-toggle,
        .high-contrast-toggle-btn {
            color: var(--color-base);
        }
        .high-contrast-toggle-btn__icon {
            background-color: var(--color-base);
        }
    }
}

[data-user-color-scheme="pink"] {
    .high-contrast-toggle,
    .high-contrast-toggle-btn {
        color: var(--color-base);
    }
    .high-contrast-toggle-btn__icon {
        background-color: var(--color-base);
    }
}

.high-contrast-toggle-btn {
    position: relative;
    height: 1.25rem;
    width: 2rem;
    margin-left: .25rem;
    padding: 0;
    background: transparent;
    border: .1rem solid $blue-base;
    border-radius: 1rem;

    &[aria-checked="false"] {

        .high-contrast-toggle-btn__icon {
            transform: translate(calc(-50% + .5rem), -50%);
        }
    }

    &[aria-checked="true"] {

        .high-contrast-toggle-btn__icon {
            transform: translate(calc(50% + .4rem), -50%);
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        height: 1.05rem;
        width: 1rem;
        background-color: var(--color-secondary);
        border-radius: 50%;
    }
}

[data-user-color-scheme="high-contrast"] {
    .high-contrast-toggle {
        background-color: var(--color-base);
    }

    .high-contrast-toggle #high-contrast-desc,
    .high-contrast-toggle #high-contrast-desc *,
    .high-contrast-toggle-btn {
        color: var(--color-text);
        border-color: var(--color-text);
        outline-color: var(--color-text);
    }

    .high-contrast-toggle-btn__icon {
        background-color: var(--color-text);
    }
}