.writing__articles {
    .article {
        border-top: .1rem solid var(--color-primary);

        time {
            @include fluid-type($min_width, $max_width, $min_font_small, $max_font_small);
            margin-bottom: .25rem;
        }
        
        time,
        .article__link {
            text-decoration: none;
        }

        .article__link {
            &:hover {
                p.link-text {
                    font-weight: 200;
                }
            }

            .link-text__wrap {
                position: relative;
            }

            p.link-text {
                position: absolute;
                top: 0;
                left: 0;
                transition: .3s ease-in-out font-weight;
                will-change: font-weight;
            }

            .link-text {
                position: relative;
                text-decoration: underline;
                text-decoration-thickness: .1rem;
                text-underline-offset: .2rem;

                &--placeholder {
                    opacity: 0;
                }
            }
        }
    }
}
