.writing__articles {
    .article {
        border-top: .1rem solid var(--color-primary);

        time {
            @include fluid-type($min_width, $max_width, $min_font_small, $max_font_small);
            margin-bottom: .25rem;
        }
        
        time,
        .article__link {
            text-decoration: none;
        }
    }
}
