<section class="double-image box-flex wrapper">
    <figure class="box-block">
        <picture>
            <source type="image/webp" srcset="{{ item.image1 }}">
            <img src="{{ item.image1Fallback }}" alt="{{ item.image1Alt }}">
        </picture>
        {% if item.image1Caption %}
            <figcaption class="box-block bg-base pad-top-300">
                <p>{{ item.image1Caption }}</p>
            </figcaption>
        {% endif %}
    </figure>

    <figure class="box-block">
        <picture>
            <source type="image/webp" srcset="{{ item.image2 }}">
            <img src="{{ item.image2Fallback }}" alt="{{ item.image2Alt }}">
        </picture>
        {% if item.image2Caption %}
            <figcaption class="box-block bg-base pad-top-300">
                <p>{{ item.image2Caption }}</p>
            </figcaption>
        {% endif %}
    </figure>
</section>