<section class="double-image box-flex wrapper">
    <figure class="box-block bg-primary">
        <picture>
            <img src="{{ item.image1 }}" alt="{{ item.image1Alt }}">
        </picture>
        {% if item.caption %}
            <figcaption class="box-block bg-base pad-top-300">
                <p>{{ item.caption }}</p>
            </figcaption>
        {% endif %}
    </figure>

    <figure class="box-block bg-primary">
        <picture>
            <img src="{{ item.image2 }}" alt="{{ item.image2Alt }}">
        </picture>
    </figure>
</section>