<section class="info wrapper">
    <div class="info__table-wrap">
        <table>
            {% if item.client %}
                <tr>
                    <th scope="row" class="weight-medium">Client:</th>
                    <td>{{ item.client }}</td>
                </tr>
            {% endif %}
            {% if item.agency %}
                <tr>
                    <th scope="row" class="weight-medium">Agency:</th>
                    <td>{{ item.agency }}</td>
                </tr>
            {% endif %}
            {% if item.expertise %}
                <tr>
                    <th scope="row" class="weight-medium">Expertise:</th>
                    <td>{{ item.expertise }}</td>
                </tr>
            {% endif %}
            {% if item.outcomes %}
                <tr>
                    <th scope="row" class="weight-medium">Project<br>outcomes:</th>
                    <td>{{ item.outcomes | markdownFilter | safe }}</td>
                </tr>
            {% endif %}
            {% if item.url and item.linkText %}
                <tr>
                    <th></th>
                    <td>
                        <div class="marquee-wrap color-primary gap-top-700">
                            <a href="{{ item.url }}" target="_blank" class="marquee-link box-block font-title">
                                <span class="marquee-link__text">
                                    <span>{{ item.linkText }}</span>
                                </span>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>
</section>
