{% if item.fullheight === true %}
    {% set heightClass = 'full-height' %}
{% endif %}
<section class="single-image{% if heightClass %} {{ heightClass }}{% else %} box-flex wrapper{% endif %}">
    <figure class="box-block">
        <picture>
            <source type="image/webp" srcset="{{ item.image }}">
            <img src="{{ item.imageFallback }}" alt="{{ item.imageAlt }}">
        </picture>
        {% if item.caption %}
            <figcaption class="box-block bg-base pad-top-300">
                <p>{{ item.caption }}</p>
            </figcaption>
        {% endif %}
    </figure>
</section>