<section class="testimonial box-flex bg-secondary">
    <blockquote class="font-title pad-top-700 pad-bottom-700 pad-left-700 pad-right-700">
        {{ item.quote | markdownFilter | safe }}
        {% if item.author or item.authorCo %}
            <footer class="font-base weight-bold gap-top-600">
                {% if item.author %}
                    <span class="box-block">
                        {{ item.author }}
                    </span>
                {% endif %}
                {% if item.authorCo %}
                    <span class="box-block">
                        {{ item.authorCo }}
                    </span>
                {% endif %}
            </footer>
        {% endif %}
    </blockquote>
</section>
