.site-wrap {
    position: relative;
    max-width: $max_width;
    margin: 0 auto;

    > * {
        display: block;
    }
}

@supports (display: grid) {
    .site-wrap {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(0, max-content);
        grid-template-areas:    "head"
                                "side"
                                "main"
                                "foot";
    }

    @include media-query('md') {
        .site-wrap {
            grid-template-columns: 1fr 1fr minmax(min-content, 1fr);
            grid-template-areas:    "head head side"
                                    "main main side"
                                    "foot foot side";
        }
    }

    .home-header {
        grid-area: head;
    }

    .main-content {
        grid-area: main;
    }

    .sidebar {
        grid-area: side;
    }

    .home-footer {
        grid-area: foot;
    }
}

.home-section--narrow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

// Keep sidebar aligned right
@include media-query('xl') {
    .site-wrap {
        margin-left: #{get-size('400')};
    }
}
