.main-greensock {
    overflow: hidden;

    .container {
        @media only screen and (min-width: 64em) {
            position: fixed;
        }
    }
}

.work-header {
    flex-direction: row;

    .site-breadcrumb {
        padding-left: get-size('400');
        padding-right: get-size('400');
        text-transform: uppercase;

        .nav__list {
            margin: get-size('300') 0 get-size('400');
        }

        .separator {
            margin: get-size('300');
        }
    }

    .theme-toggle {
        position: fixed;
        top: get-size('400');
        right: get-size('400');
        transform: scale(.78);
    }

    .high-contrast-toggle {
        width: 100%;
        max-width: 100vw;
        left: 0;
    }
}

.work-item {

    > section {
        p + p {
            margin-top: 1.5ch;
        }
    
        &.testimonial {
            background-color: var(--color-secondary);
            width: 100vw;
            padding-left: get-size('400');
            padding-right: get-size('400');
        }
    }
}

@media only screen and (max-width: 64em) {
    .main-greensock .work-item {
        display: block;
        width: 100%;
    }
}


@media only screen and (min-width: 64em) { 
    .site-wrap:not(.locomotive):not(.greensock) {
        overflow: scroll;
        height: 100vh;
    }

    .work-header {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        flex-direction: column;
        min-width: 6rem;
        padding-bottom: get-size('975');
        
        .site-breadcrumb {
            @include sideways;
            margin: 0 auto;
            padding-left: 0;
            padding-right: 0;

            .nav__list {
                margin: 0;
            }
        }

        .theme-toggle {
            position: relative;
            top: 0;
            right: 0;
            margin-top: auto;
            transform: scale(1);
        }
    }
    
    .work-item {
        height: 100vh;
        margin-left: get-size('1300');
        margin-right: get-size('1300');

        &:not(.locomotive) {
            display: flex;
            flex-wrap: nowrap;
        }

        > section {
            max-height: calc(100vh - #{get-size('900')}) !important;
            overflow: hidden;
            // width: 57.125rem;
            min-width: 64vw;
            margin: 0 3vw;
            outline: 2px solid red;
            white-space: normal !important;
            will-change: transform;

            // &.work-item__intro {
            //     margin-left: get-size('1300');
            //     min-width: 45vw;
            //     max-width: calc(33.25rem + #{get-size('700')} + #{get-size('700')} );
            // }

            &:first-of-type,
            &:last-of-type {
                background-color: rgba(250,150,0,.5);
            }
        }
    }

    @media only screen and (max-height: 48em) {
        .work-header {
            .site-breadcrumb {
                font-size: 4vh;
            }

            .theme-toggle {
                transform: scale(.78);
            }
        }

        .work-item {
            * {
                font-size: 4vh;
            }

            h1 {
                font-size: 8vh;
                margin-bottom: 4vh;
            }
        }
    }
}


[data-user-color-scheme="high-contrast"] {
    .work-header {
        background-color: var(--color-text);
    }
    
    .site-breadcrumb {
        * {
            color: var(--color-base);
        }
    }
}
