.site-wrap {
    position: relative;
    max-width: $max_width;
    margin: 0 auto;

    > * {
        display: block;
    }
}

@supports (display: grid) {
    .site-wrap {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(0, max-content);
        grid-template-areas:    "head"
                                "side"
                                "main"
                                "foot";
    }

    @include media-query('md') {
        .site-wrap {
            grid-template-columns: 1fr 1fr minmax(min-content, 1fr);
            grid-template-areas:    "head head side"
                                    "main main side"
                                    "foot foot side";
        }
    }

    .home-header {
        grid-area: head;
    }

    .main-content {
        grid-area: main;
    }

    .sidebar {
        grid-area: side;
    }

    .home-footer {
        grid-area: foot;
    }
}

.home-section--narrow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

@include media-query('md') {
    .home-header {
        @include apply-utility('gap-bottom', '975');
    }

    section.work {
        .section-anchor {
            + .home-section--narrow {
                margin-top: calc(-11.5rem);
            }
        }
    }
}

// Keep main content aligned left with space
@media only screen and (min-width: 92.5em) {
    .site-wrap {
        margin-left: #{get-size('500')};
    }
}


#scroll-outer {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#site-wrap {
    position: absolute;  
    overflow: hidden;
    width: 100%;
}

.sidebar {
    height: 100% !important;
}
