.wrapper--home {
    width: 100%;
}

@include media-query('md') {
    .wrapper--home {
        max-width: 44.75rem;

        > p {
            text-align: left;
            max-width: 39rem;
        }
    }
}

