.wrapper--home {
    width: 100%;
    margin-left: auto;

    > p {
        text-align: left;
    }
}

@include media-query('md') {
    .wrapper--home {
        max-width: 44.75rem;

        > p {
            max-width: 39rem;
        }
    }
}
