.work-item {
    .double-image {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;

        figure {
            @include work-image;

            &:first-of-type {
                margin-right: 10vw;
            }

            + figure {
                margin-top: #{get-size('900')};
                margin-left: 10vw;
            }
        }

        figcaption {
            @include img-caption;
        }

        @media only screen and (min-width: 64em) {
            flex-wrap: nowrap;

            figure {
                &:first-of-type {
                    margin-right: 0;
                }

                + figure {
                    margin-left: 0;
                }
            }

            > :last-child {
                align-self: flex-end;
                margin-left: #{get-size('975')};
                margin-bottom: calc(#{get-size('400')} + 4vh);
            }
        }
    }
}
