.work-item {
    .double-image {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;

        .image-text-wrap {
            width: 100%;
        }

        figure {
            @include work-image;
        }

        p {
            @include fluid-type($min_width, $max_width, $min_font_small, $max_font_small);
            max-width: 37.5rem;
        }

        @media only screen and (min-width: 64em) {
            flex-wrap: nowrap;

            .image-text-wrap {
                width: max-content;
            }

            > :last-child {
                margin-left: #{get-size('975')};
            }
        }
    }
}
