.work-item {
    .double-image {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;

        .image-text-wrap {
            width: 100%;
        }

        figure {
            @include work-image;
        }

        figcaption {
            @include img-caption;
        }

        @media only screen and (min-width: 64em) {
            flex-wrap: nowrap;

            .image-text-wrap {
                width: max-content;
            }

            > :last-child {
                align-self: flex-end;
                margin-left: #{get-size('975')};
                margin-bottom: 4vh;
            }

            @media only screen and (max-height: 48em) {
                > :last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
