@media only screen and (min-width: 64em) {
    .work-item {
        .work-item__intro {
            margin-left: get-size('1300');
            outline-color: rgba(0,0,0,.1);

            h1 {
                max-width: 35rem;
            }

            p {
                max-width: 34ex;
            }
        }
    }
}
