.work-item {
    .single-image,
    .video {
        outline-color: rgba(0,0,0,.1);

        picture {
            height: 100%;
        }

        video {
            @include apply-utility('box', 'block');
        }

        &:not(.full-height) {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;

            figure,
            video {
                @include work-image;
            }

            figure {
                background-color: var(--color-primary);
            }

            figcaption {
                @include img-caption;
                color: var(--color-primary);
            }
        }

        &.full-height {
            margin-left: 0;
            margin-right: 0;

            + section {
                margin-left: 0;
            }

            video {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }

            img {
                width: 100%;
            }

            figcaption {
                @include vis-h;
            }

            @media only screen and (min-width: 64em) {       
                margin-left: -3vw;

                figure,
                video {
                    position: relative;
                    width: calc(147vh - 3rem); // Gives roughly 3:2 ratio
                    max-width: calc(147vh - 3rem); // Gives roughly 3:2 ratio
                    height: 100%;

                    img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                video {
                    object-fit: cover;
                }
            }
        }
    }
}

// [data-user-color-scheme="blue"] {
//     .work-item {
//         .single-image,
//         .video {
//             &:not(.full-height) {
//                 figure {
//                     background-color: var(--color-primary);
//                 }
//                 figcaption {
//                     color: var(--color-primary);
//                 }
//             }
//         }
//     }
// }

// [data-user-color-scheme="pink"] {
//     .work-item {
//         .single-image,
//         .video {
//             &:not(.full-height) {
//                 figure {
//                     background-color: var(--color-text);
//                 }
//                 figcaption {
//                     color: var(--color-text);
//                 }
//             }
//         }
//     }
// }

// [data-user-color-scheme="high-contrast"] {
//     .work-item {
//         .single-image,
//         .video {
//             &:not(.full-height) {
//                 figure {
//                     background-color: var(--color-secondary);
//                 }
//                 figcaption {
//                     color: var(--color-text);
//                 }
//             }
//         }
//     }
// }

// @media (prefers-color-scheme: dark) {
//     .work-item {
//         .single-image,
//         .video {
//             &:not(.full-height) {
//                 figure {
//                     background-color: var(--color-text);
//                 }
//                 figcaption {
//                     color: var(--color-text);
//                 }
//             }
//         }
//     }
// }
