.work-item {
    .single-image {
        figure {
            @include work-image;
        }

        &.full-height {
            margin-left: -3vw;
            margin-right: 0;

            + section {
                margin-left: 0;
            }

            figure {
                position: relative;
                width: calc(147vh - 3rem); // Gives roughly 3:2 ratio
                max-width: calc(147vh - 3rem); // Gives roughly 3:2 ratio
                height: 100%;

                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
}
