.work-item {
    .testimonial {
        align-items: center;
        outline-color: rgba(0,0,0,.1);

        p {
            @include fluid-type($min_width, $max_width, get-size('650'), get-size('900'));
        }

        footer {
            position: relative;
            padding-left: 1.5ex;

            &:before {
                content: "–";
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        @media only screen and (min-width: 64em) {
            blockquote {
                padding: 2vw 6vw;
                width: calc(100vw - 6rem);

                p {
                    @include fluid-type($min_width, $max_width, 6.5vh, 6.5vw);
                }
            }

            @media only screen and (max-height: 48em) {
                blockquote {
                    p {
                        font-size: 5vh;
                    }
                }
            }
        }
    }
}

[data-user-color-scheme="high-contrast"] {
    .work-item {
        .testimonial {
            background-color: var(--color-text);
            color: var(--color-base);
        }
    }
}
