@media (prefers-color-scheme: dark) {
    :root:not([data-user-color-scheme]) {
        .work-item {
            .single-image,
            .double-image,
            .video {
                &:not(.full-height) {
                    picture,
                    .video__figure {
                
                        &:before {
                            border-color: var(--color-primary);
                            background: repeating-linear-gradient(
                                45deg,
                                var(--color-primary),
                                var(--color-primary) 2px,
                                transparent 2px,
                                transparent #{get-size('500')}
                            );
                        }
                    }
                }
            }
        }
    }
}

[data-user-color-scheme="pink"] {
    .work-item {
        .single-image,
        .double-image,
        .video {
            &:not(.full-height) {
                picture,
                .video__figure {
            
                    &:before {
                        border-color: var(--color-primary);
                        background: repeating-linear-gradient(
                            45deg,
                            var(--color-primary),
                            var(--color-primary) 2px,
                            transparent 2px,
                            transparent #{get-size('500')}
                        );
                    }
                }
            }
        }
    }
}

[data-user-color-scheme="high-contrast"] {
    .work-item {
        .single-image,
        .double-image,
        .video {
            &:not(.full-height) {
                picture,
                .video__figure {
            
                    &:before {
                        border-color: var(--color-text);
                        background: repeating-linear-gradient(
                            45deg,
                            var(--color-text),
                            var(--color-text) 2px,
                            transparent 2px,
                            transparent #{get-size('500')}
                        );
                    }
                }
            }
        }
    }
}
