[data-user-color-scheme="pink"] {
    .work-item {
        .single-image,
        .double-image,
        .video {
            figure {
                background-color: var(--color-text);
            }
            figcaption {
                color: var(--color-text);
            }
        }
    }
}

[data-user-color-scheme="high-contrast"] {
    .work-item {
        .single-image,
        .double-image,
        .video {
            figure {
                background-color: var(--color-secondary);
            }
            figcaption {
                color: var(--color-text);
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    :root:not([data-user-color-scheme]) {
        .work-item {
            .single-image,
            .double-image,
            .video {
                figure {
                    background-color: var(--color-text);
                }
                figcaption {
                    color: var(--color-text);
                }
            }
        }
    }
}
