{% extends "layouts/base.html" %}

{% set pageCriticalStyles = ['css/home.css'] %}
{% set pageCriticalScripts = ['js/cursor-dot.js','js/marquee-text.js','js/locomotive.js'] %}

{% block content %}

{% include "partials/header-home.html" %}

{% include "partials/sidebar.html" %}

<main tabindex="-1" id="main-content" class="main-content">

    <div class="wrapper">
        <article>
            <section id="work" class="work">
                <div class="home-section--narrow pad-top-700">
                {% set anchor = { url: 'work', title: 'Work', scrolltarget: 'work' } %}
                {% include "partials/components/section-anchor.html" %}
                    <div class="wrapper--home">
                        <h2 class="color-primary">{{ work.heading }}</h2>
                    </div>
                </div>
                <div class="work-items">
                    {% for item in collections.featuredWork %}
                        <a href="{{ item.url }}" id="work-item--{{ loop.index }}" class="work-item box-block gap-bottom-500" aria-label="{{ item.data.title }}">
                            <picture>
                                <source type="image/webp" srcset="{{ item.data.socialImage }}">
                                <source type="image/jpg" srcset="{{ item.data.socialImage | replace('webp', 'jpg') }}">
                                <source type="image/png" srcset="{{ item.data.socialImage | replace('webp', 'png') }}">
                                <img src="{{ item.data.socialImage | replace('webp', 'png') }}" alt="">
                            </picture>
                            <span class="work-item__text font-title">{{ work.itemLinkText }}</span>
                        </a>
                    {% endfor %}
                </div>
            </section>

            <section id="writing" class="writing home-section--narrow gap-top-975 pad-top-600 pad-bottom-975">
                {% set anchor = { url: 'writing', title: 'Writing', scrolltarget: 'writing' } %}
                {% include "partials/components/section-anchor.html" %}
                <div class="wrapper--home">
                    <h2 class="color-primary gap-bottom-900">{{ writing.heading }}</h2>
                    {{ writing.copy | markdownFilter | safe }}

                    {% if writing.articles %}
                        <ol class="writing__articles list--unstyled">
                            {% for article in writing.articles %}
                                <li class="article box-block gap-top-400 gap-bottom-400 pad-top-500 pad-bottom-400">
                                    <a href="{{ article.url }}" class="article__link shrinking-link box-block color-text gap-bottom-300">
                                        <time class="box-block weight-medium">{{ article.date }}</time>
                                        <span class="link-text__wrap box-block">
                                            <p class="link-text">
                                                {{ article.title }}<span class="visually-hidden">, read on LinkedIn (opens in a new tab)</span>
                                            </p>
                                            <span class="link-text link-text--placeholder" aria-hidden="true">
                                                {{ article.title }}
                                            </span>
                                        </span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                </div>
            </section>

        </article>
    </div>

</main>

{% include "partials/footer.html" %}

{% endblock %}
