{% extends "layouts/base.html" %}

{% set pageCriticalStyles = ['css/home.css'] %}

{% block content %}

{% include "partials/header-home.html" %}

{% include "partials/sidebar.html" %}

<main tabindex="-1" id="main-content" class="main-content">

    <div class="wrapper">
        <article>
            <section id="work">
                <div class="home-section--narrow pad-top-975 pad-bottom-975">
                    <a href="#work" class="section-anchor">{{ work.title }}</a>
                    <div class="wrapper--home">
                        <h2 class="color-primary">{{ work.heading }}</h2>
                    </div>
                </div>
                <div class="work-items">
                    {% for item in collections.featuredWork %}
                    <figure id="work-item--{{ loop.index }}" class="work-items__item">
                        <div>
                            <img src="{{ item.data.hero.image }}" alt="{{ item.data.hero.imageAlt }}" />
                        </div>
                        <figcaption>
                            <span>
                                {{ item.data.title }}
                            </span>
                            <a href="{{ item.url }}" class="work-items__item__link">
                                {{ work.itemLinkText }}
                            </a>
                        </figcaption>
                    </figure>
                    {% endfor %}
                </div>
            </section>

            <section id="writing" class="home-section--narrow pad-top-975 pad-bottom-975">
                <a href="#writing" class="section-anchor">{{ writing.title }}</a>
                <div class="wrapper--home">
                    <h2 class="color-primary">{{ writing.heading }}</h2>
                    <p>{{ writing.copy }}</p>

                    {% if writing.articles %}
                        <ul>
                            {% for article in writing.articles %}
                                <li>
                                    <time datetime="2020-08-20">{{ article.date }}</time>
                                    <a href="{{ article.url }}">{{ article.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </section>

        </article>
    </div>

</main>

{% include "partials/footer.html" %}

{% endblock %}
