{% extends "layouts/base.html" %}

{% block content %}
<div class="wrapper">
    <article>
        <div id="intro">
            <a href="#intro">{{ intro.title }}</a>
            <h1>{{ intro.main }}&nbsp;<span class="emoji" role="img" aria-label="nerdy face">🤓</span></h1>
            <p>{{ intro.summary }}</p>
        </div>
        <div id="work">
            <a href="#work">{{ work.title }}</a>
            <h2>{{ work.main }}&nbsp;<span class="emoji" role="img" aria-label="dog">🐕</span></h2>
            <article>
                {% for item in collections.featuredWork %}
                <figure>
                    <div>
                        <img src="{{ item.data.hero.image }}" alt="{{ item.data.hero.imageAlt }}" />
                    </div>
                    <figcaption>
                        <h3>
                            {{ item.data.title }}
                        </h3>
                        <a href="{{ item.url }}" class="button">{{ work.itemLink }}</a>
                    </figcaption>
                </figure>
                {% endfor %}
            </article>
        </div>
        <div id="writing">
            <a href="#writing">{{ writing.title }}</a>
            <h2>{{ writing.main }}&nbsp;<span class="emoji" role="img" aria-label="brain">🧠</span></h2>
            <p>{{ writing.summary }}</p>
            <ul>
                <li>
                    <time datetime="2020-08-20">20.08.2020</time>
                    <a href="#">New website launch</a>
                </li>
                <li>
                    <time datetime="2020-08-20">20.08.2020</time>
                    <a href="#">Nurturing great relationships between design and development teams</a>
                </li>
                <li>
                    <time datetime="2020-08-20">20.08.2020</time>
                    <a href="#">Developing a design library for ForrestBrown</a>
                </li>
                <li>
                    <time datetime="2020-08-20">20.08.2020</time>
                    <a href="#">Switching to Figma: what I've found out in the first 6 weeks</a>
                </li>
            </ul>
        </div>
    </article>
    <footer role="contentinfo" class="site-footer">
        <div class="wrapper">
            <h2>{{ footer.main }}&nbsp;<span class="emoji" role="img" aria-label="wide eyes">👀</span></h2>
            <p>{{ footer.summary }}</p>

            {% set currentYear = global.currentYear() %}
            <p>&#169; {{ title }} {{ currentYear }}</p>
            <p>Design: Me, obvs.</p>
            <p>Code: <a href="https://github.com/georgehieron/" rel="nofollow">George Hieron</a></p>
            <p>Type: Opposit, by <a href="https://www.goodtypefoundry.com/opposit" rel="nofollow">Good Type Foundry</a>
                <br>
                Manrope, by <a href="https://fonts.google.com/specimen/Manrope" rel="nofollow">Mikhail Sharanda</a></p>
            </p>
        </div>
    </footer>
</div>
{% endblock %}
