{% extends "layouts/base.html" %} {% set pageCriticalStyles = ['css/work.css']
%} {% set pageCriticalScripts = ['js/horizontal-scroll-locomotive.js'] %} {%
block content %} {% include "partials/header-work.html" %}

<main tabindex="-1" id="main-content" class="locomotive" data-scroll-container>
    <article class="work-item locomotive">
        <section class="work-item__intro" data-scroll-section>
            <div class="wrapper work-item__intro__inner">
                <h1 class="gap-bottom-900">SS Great Britain</h1>
                <p>
                    The SS Great Britain is one of the most important historic
                    ships in the world, and Bristol’s top tourist attraction.
                </p>
                <p>
                    Working with my team at Atomic Smash, I completely
                    redesigned the organisation’s website to launch a more
                    engaging, dynamic site for visitors to find inspiration and
                    plan their visit.
                </p>
            </div>
        </section>

        <section class="info wrapper" data-scroll-section>
            <table>
                <tbody>
                    <tr>
                        <th scope="row">Client:</th>
                        <td>The SS Great Britain Trust</td>
                    </tr>
                    <tr>
                        <th scope="row">Agency:</th>
                        <td>Atomic Smash</td>
                    </tr>
                    <tr>
                        <th scope="row">Expertise:</th>
                        <td>Workshops; Research; User Interface Design</td>
                    </tr>
                    <tr>
                        <th scope="row">Project Outcomes:</th>
                        <td>
                            A better user-experience; bold, playful design;
                            interactive heritage timeline
                        </td>
                    </tr>
                </tbody>
            </table>

            <a href="#ssgb" target="_blank">Visit site</a>
        </section>

        <section class="info wrapper" data-scroll-section>
            <table>
                <tbody>
                    <tr>
                        <th scope="row">Client:</th>
                        <td>The SS Great Britain Trust</td>
                    </tr>
                    <tr>
                        <th scope="row">Agency:</th>
                        <td>Atomic Smash</td>
                    </tr>
                    <tr>
                        <th scope="row">Expertise:</th>
                        <td>Workshops; Research; User Interface Design</td>
                    </tr>
                    <tr>
                        <th scope="row">Project Outcomes:</th>
                        <td>
                            A better user-experience; bold, playful design;
                            interactive heritage timeline
                        </td>
                    </tr>
                </tbody>
            </table>

            <a href="#ssgb" target="_blank">Visit site</a>
        </section>

        <section class="info wrapper" data-scroll-section>
            <table>
                <tbody>
                    <tr>
                        <th scope="row">Client:</th>
                        <td>The SS Great Britain Trust</td>
                    </tr>
                    <tr>
                        <th scope="row">Agency:</th>
                        <td>Atomic Smash</td>
                    </tr>
                    <tr>
                        <th scope="row">Expertise:</th>
                        <td>Workshops; Research; User Interface Design</td>
                    </tr>
                    <tr>
                        <th scope="row">Project Outcomes:</th>
                        <td>
                            A better user-experience; bold, playful design;
                            interactive heritage timeline
                        </td>
                    </tr>
                </tbody>
            </table>

            <a href="#ssgb" target="_blank">Visit site</a>
        </section>

        <section class="info wrapper" data-scroll-section>
            <table>
                <tbody>
                    <tr>
                        <th scope="row">Client:</th>
                        <td>The SS Great Britain Trust</td>
                    </tr>
                    <tr>
                        <th scope="row">Agency:</th>
                        <td>Atomic Smash</td>
                    </tr>
                    <tr>
                        <th scope="row">Expertise:</th>
                        <td>Workshops; Research; User Interface Design</td>
                    </tr>
                    <tr>
                        <th scope="row">Project Outcomes:</th>
                        <td>
                            A better user-experience; bold, playful design;
                            interactive heritage timeline
                        </td>
                    </tr>
                </tbody>
            </table>

            <a href="#ssgb" target="_blank">Visit site</a>
        </section>

        <section class="info wrapper" data-scroll-section>
            <table>
                <tbody>
                    <tr>
                        <th scope="row">Client:</th>
                        <td>The SS Great Britain Trust</td>
                    </tr>
                    <tr>
                        <th scope="row">Agency:</th>
                        <td>Atomic Smash</td>
                    </tr>
                    <tr>
                        <th scope="row">Expertise:</th>
                        <td>Workshops; Research; User Interface Design</td>
                    </tr>
                    <tr>
                        <th scope="row">Project Outcomes:</th>
                        <td>
                            A better user-experience; bold, playful design;
                            interactive heritage timeline
                        </td>
                    </tr>
                </tbody>
            </table>

            <a href="#ssgb" target="_blank">Visit site</a>
        </section>

        <section class="video full-height wrapper" data-scroll-section>
            <video autoplay="" loop="" muted="" width="250"><source src="/images/small.mp4" type="video/mp4">Sorry, your browser doesn't support embedded videos.</video>
        </section>

        <section class="testimonial wrapper" data-scroll-section>
            <blockquote>
                <p>
                    It has been an absolute pleasure to work with Atomic Smash
                    on our new website project. They have been extremely
                    attentive to our requirements whilst helping us to explore
                    new possibilities and trends. We look forward to continuing
                    that relationship in  the future.
                </p>
                <footer>
                    <span> Dominic Rowe, PR &amp; Marketing Manager </span>
                    <span> SS Great Britain Trust </span>
                </footer>
            </blockquote>
        </section>

        <section class="testimonial wrapper" data-scroll-section>
            <blockquote>
                <p>
                    It has been an absolute pleasure to work with Atomic Smash
                    on our new website project. They have been extremely
                    attentive to our requirements whilst helping us to explore
                    new possibilities and trends. We look forward to continuing
                    that relationship in  the future.
                </p>
                <footer>
                    <span> Dominic Rowe, PR &amp; Marketing Manager </span>
                    <span> SS Great Britain Trust </span>
                </footer>
            </blockquote>
        </section>

        <section class="testimonial wrapper" data-scroll-section>
            <blockquote>
                <p>
                    It has been an absolute pleasure to work with Atomic Smash
                    on our new website project. They have been extremely
                    attentive to our requirements whilst helping us to explore
                    new possibilities and trends. We look forward to continuing
                    that relationship in  the future.
                </p>
                <footer>
                    <span> Dominic Rowe, PR &amp; Marketing Manager </span>
                    <span> SS Great Britain Trust </span>
                </footer>
            </blockquote>
        </section>

        <section class="testimonial wrapper" data-scroll-section>
            <blockquote>
                <p>
                    It has been an absolute pleasure to work with Atomic Smash
                    on our new website project. They have been extremely
                    attentive to our requirements whilst helping us to explore
                    new possibilities and trends. We look forward to continuing
                    that relationship in  the future.
                </p>
                <footer>
                    <span> Dominic Rowe, PR &amp; Marketing Manager </span>
                    <span> SS Great Britain Trust </span>
                </footer>
            </blockquote>
        </section>

        <section class="info wrapper" data-scroll-section>
            <table>
                <tbody>
                    <tr>
                        <th scope="row">Client:</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">Agency:</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">Expertise:</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">Project Outcomes:</th>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <a href="target" ="_blank"></a>
        </section>

        <section class="single-image wrapper" data-scroll-section>
            <img
                src="/images/ragnar-axelsson-behind-the-mountains-0002-1920x1500.jpg"
                alt="Four people riding horses through the snow in Iceland."
            />
        </section>

        <section class="panel double-image wrapper" data-scroll-section>
            <img
                src="/images/unsplash-a7bkbcm8lsk.jpg"
                alt="Man wearing bright green jumper"
            />

            <p>
                Taking a modular approach, we gave the client a wide-variety of
                reusable components, enabling them to build their own engaging
                page designs
            </p>

            <img
                src="/images/ragnar-axelsson-behind-the-mountains-0002-1920x1500.jpg"
                alt="Four people riding horses through the snow in Iceland."
            />
        </section>
    </article>
</main>
{% endblock %}
