{% extends "layouts/base.html" %}

{% set pageCriticalStyles = ['css/work.css'] %}
{% set pageCriticalScripts = ['js/horizontal-scroll.js'] %}

{% block content %}

{% include "partials/header-work.html" %}

<main tabindex="-1" id="main-content">

    <article class="work-item">
        {% if components %}
            {% for item in components %}
                {% if item.type === 'info' %}
                    {% include "partials/components/info.html" %}
                {% elif item.type === 'testimonial' %}
                    {% include "partials/components/testimonial.html" %}
                {% elif item.type === 'singleImage' %}
                    {% include "partials/components/single-image.html" %}
                {% elif item.type === 'doubleImage' %}
                    {% include "partials/components/double-image.html" %}
                {% elif item.type === 'video' %}
                    {% include "partials/components/video.html" %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </article>

</main>

{% endblock %}
