{% extends "layouts/base.html" %}

{% set pageCriticalStyles = ['css/work.css'] %}
{% set pageCriticalScripts = ['js/horizontal-scroll.js','js/cursor-dot.js','js/marquee-text.js','js/next-work.js'] %}

{% block content %}

{% include "partials/header-work.html" %}

<main tabindex="-1" id="main-content" class="main-content">

    <article class="work-item">
        <section class="work-item__intro pad-top-400">
            <div class="wrapper work-item__intro__inner">
                <h1 class="color-primary gap-bottom-900">{{ title }}</h1>
                {{ excerpt | markdownFilter | safe }}
                {{ summary | markdownFilter | safe }}
            </div>
        </section>

        {% if components %}
            {% for item in components %}
                {% if item.type === 'info' %}
                    {% include "partials/components/info.html" %}
                {% elif item.type === 'testimonial' %}
                    {% include "partials/components/testimonial.html" %}
                {% elif item.type === 'singleImage' %}
                    {% include "partials/components/single-image.html" %}
                {% elif item.type === 'doubleImage' %}
                    {% include "partials/components/double-image.html" %}
                {% elif item.type === 'video' %}
                    {% include "partials/components/video.html" %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {# Get the next post in the Featured Work list via the helper #}
        {% set nextItem = helpers.getNextItem(collections.featuredWork, page) %}

        {% if nextItem %}
            <footer class="next-item wrapper pad-top-400">
                <div>
                    <h2 id="next-item__title" class="color-primary h1" aria-live="assertive">
                        <span class="box-block p">Next project in <span id="countdown" class="countdown p" data-counting="false">5</span>...</span>
                        {{nextItem.data.title}}
                    </h2>
                    <div class="marquee-wrap gap-top-400">
                        <a id="next-item__view" href="{{ nextItem.url }}" class="marquee-link box-block font-title color-text">
                            <span class="marquee-link__text">
                                <span>View project<span class="visually-hidden">, {{nextItem.data.title}}</span></span>
                            </span>
                        </a>
                    </div>
                    <div class="marquee-wrap gap-top-400">
                        <a href="/" class="marquee-link box-block font-title color-text">
                            <span class="marquee-link__text">
                                <span>Back to home</span>
                            </span>
                        </a>
                    </div>
                </div>
                <div>
                    <a href="{{ nextItem.url }}" aria-label="View project, {{nextItem.data.title}}" class="next-item__img-link box-block bg-primary">
                        <picture class="box-block">
                            <source type="image/webp" srcset="{{ nextItem.data.socialImage }}">
                            <img src="{{ nextItem.data.socialImageFallback }}" alt="">
                        </picture>
                    </a>
                </div>
            </footer>
        {% endif %}
    </article>

</main>

{% endblock %}
