.site-wrap {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, minmax(min-content, max-content));
}

.site-head {
    grid-row: 1/2;
    grid-column: 1/13;
}

.main-content {
    grid-row: 1/2;
    grid-column: 1/9;
}

.sidebar {
    grid-row: 1/2;
    grid-column: 9/13;
}

.site-footer {
    grid-row: 2/3;
    grid-column: 1/13;
}