$min_h1: get-size('975');
$max_h1: get-size('1300');
$min_h3: get-size('700');
$max_h3: get-size('975');

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    @include apply-utility('font', 'title');
    @include apply-utility('weight', 'regular');
    margin-bottom: #{get-size('500')};
}

h1,
.h1,
h2,
.h2 {
    @include fluid-type($min_width, $max_width, $min_h1, $max_h1);
    line-height: 1.225;
}

h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    @include fluid-type($min_width, $max_width, $min_h3, $max_h3);
    line-height: 1;
}

.font-title {
    @include apply-utility('weight', 'regular');
}

a {
    color: var(--color-primary);
    text-decoration: underline;
    text-decoration-thickness: .1rem;
    text-underline-offset: .2rem;
}

em {
    font-style: initial;
    display: inline-block;
    transform: skew(-15deg) translateX(.1ex);
}

[data-user-color-scheme="high-contrast"] {
    a {
        color: var(--color-primary);
    }
}