// FONT SIZES
$min_font: get-size('500');
$max_font: get-size('650');
$min_font_small: get-size('300');
$max_font_small: get-size('400');

// WIDTHS
$min_width: 20rem;
$max_width: 90rem;
$sidebar_width: calc(#{$max_width} / 3);