@font-face {
    font-family: Opposit;
    src: url('../fonts/Opposit-Regular.woff2') format('woff2');
}

// First up: config and functions
@import 'config';

// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';

@import "reset";

// Import mixins

body {
    font-family: 'Manrope', sans-serif;
    background: var(--color-base);
    color: var(--color-text);
}

@import "typography";

button {
    -webkit-appearance: none;
    border: 0;

    &:hover {
        cursor: pointer;
    }
}

// Import utilities
@import 'utilities/wrapper';
@import 'utilities/visually-hidden';

// Import components
@import "components/skip-link";
@import "components/toggle-button";
