// First up: config and functions
@import 'config';

// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';

@import "reset";

// Import mixins
@import 'mixins/color-transition';

body {
    background: var(--color-base);
    color: var(--color-text);
    // transition: background 500ms ease-in-out, color 200ms ease;
    font-family: sans-serif;
}

button {
    -webkit-appearance: none;
    border: 0;

    &:hover {
        cursor: pointer;
    }
}

@import "typography";

// Import utilities
@import 'utilities/visually-hidden';

// Import components
@import "components/toggle-button";
