JS/JS -->
<button id="js-theme-toggle" class="hanger-button toggle-button">
    <span id="js-theme-toggle-text" class="toggle-button__text visually-hidden">Enable pink theme</span>
    {% include "partials/icons/coathanger_click_load_js.svg" %}
    {% include "partials/icons/coathanger_hover_reset_js.svg" %}
</button>
CSS/JS -->
<button id="js-theme-toggle" class="hanger-button toggle-button">
    <span id="js-theme-toggle-text" class="toggle-button__text visually-hidden">Enable pink theme</span>
    {% include "partials/icons/coathanger_click_load_css.svg" %}
    {% include "partials/icons/coathanger_hover_reset_js.svg" %}
</button>
