Combo (CSS click/JS hover) -->
<button id="js-theme-toggle" class="hanger-button toggle-button">
    <span id="js-theme-toggle-text" class="toggle-button__text visually-hidden">Enable dark mode</span>
    {% include "partials/icons/coathanger_click_CSS_load.svg" %}
    {% include "partials/icons/coathanger_hover_JS_hover_pause.svg" %}
</button>
JS -->
<button id="js-theme-toggle" class="hanger-button toggle-button">
    <span id="js-theme-toggle-text" class="toggle-button__text visually-hidden">Enable dark mode</span>
    {% include "partials/icons/coathanger_click_JS_load.svg" %}
</button>
CSS -->
<button id="js-theme-toggle" class="hanger-button toggle-button">
    <span id="js-theme-toggle-text" class="toggle-button__text visually-hidden">Enable dark mode</span>
    {% include "partials/icons/coathanger_click_CSS_load.svg" %}
</button>
JS -->
<button id="js-theme-toggle" class="hanger-button toggle-button">
    <span id="js-theme-toggle-text" class="toggle-button__text visually-hidden">Enable dark mode</span>
    {% include "partials/icons/coathanger_hover_JS_hover_pause.svg" %}
</button>
CSS -->
<button id="js-theme-toggle" class="hanger-button toggle-button">
    <span id="js-theme-toggle-text" class="toggle-button__text visually-hidden">Enable dark mode</span>
    {% include "partials/icons/coathanger_hover_CSS_hover_pause.svg" %}
</button>