<footer role="contentinfo" class="home-footer pad-top-975 pad-bottom-975">
    <div class="wrapper">
        <div class="wrapper--home">
            <h2 class="gap-bottom-975">{{ footer.heading }}</h2>
            <div class="pad-bottom-300">{{ footer.copy | markdownFilter | safe }}</div>
            <div class="marquee-wrap gap-top-700 gap-bottom-975">
                <a href="{{ footer.buttonUrl }}" class="marquee-link box-block font-title color-text">
                    <span class="marquee-link__text">
                        <span>{{ footer.buttonText }}</span>
                    </span>
                </a>
            </div>

            {% set currentYear = global.currentYear() %}
            <p class="copyright">&#169; {{ site.authorName }} {{ currentYear }}</p>
            <table>
                <tr>
                    <th scope="row">Design:&nbsp;</th>
                    <td>{{ footer.designCredit }}</td>
                </tr>
                <tr>
                    <th scope="row">Code:&nbsp;</th>
                    <td>
                        <a href="https://github.com/georgehieron/" target="_blank" rel="nofollow" class="shrinking-link">
                            <span class="link-text__wrap box-block">
                                <p class="link-text">George Hieron</p>
                                <span class="link-text link-text--placeholder" aria-hidden="true">George Hieron</span>
                            </span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th rowspan="2" scope="row">Type:&nbsp;</th>
                    <td>
                        Opposit, by 
                        <a href="https://www.goodtypefoundry.com/opposit" target="_blank" rel="nofollow"class="shrinking-link">
                            <span class="link-text__wrap box-block">
                                <p class="link-text">Good Type Foundry;</p>
                                <span class="link-text link-text--placeholder" aria-hidden="true">Good Type Foundry;</span>
                            </span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Manrope, by 
                        <a href="https://fonts.google.com/specimen/Manrope" target="_blank" rel="nofollow" class="shrinking-link">
                            <span class="link-text__wrap box-block">
                                <p class="link-text">Mikhail Sharanda</p>
                                <span class="link-text link-text--placeholder" aria-hidden="true">Mikhail Sharanda</span>
                            </span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</footer>


{# <a href="{{ article.url }}" class="article__link box-block color-text gap-bottom-300">
    <span class="link-text__wrap box-block">
        <p class="link-text">
            {{ article.title }}<span class="visually-hidden">, read on LinkedIn</span>
        </p>
        <span class="link-text link-text--placeholder" aria-hidden="true">
            {{ article.title }}
        </span>
    </span>
</a> #}