<header role="banner" id="intro" class="home-header pad-top-975 pad-bottom-975">
    <a class="skip-link button" href="#main-content">Skip to content</a>
        <div class="wrapper">
            <div class="home-section--narrow">
            <a href="#intro" class="section-anchor">{{ intro.title }}</a>
            <div class="wrapper--home">
                <h1 class="color-primary gap-bottom-900">{{ intro.heading }}</h1>
                <p>{{ intro.copy }}</p>
            </div>
        </div>
    </div>
</header>