<header role="banner" class="work-header box-flex bg-base pad-top-400 pad-left-400 pad-right-400">
    {% include "partials/skip-link.html" %}
    <nav class="nav site-breadcrumb font-title color-secondary" aria-label="Breadcrumb">
        <ul class="nav__list box-flex list--unstyled">
            <li>
                <a href="/" class="color-secondary">Home</a>&nbsp;<span class="separator">›</span>
            </li>
            <li>
                <span>{{ title }}</span>
            </li>
        </ul>
    </nav>
    {% include "partials/theme-toggle.html" %}
    {% include "partials/high-contrast-toggle.html" %}
</header>