<div class="high-contrast-toggle">
    <span id="high-contrast-desc">High contrast mode is <span id="js-high-contrast-state" class="high-contrast-toggle__state">off</span></span>
    <button id="js-high-contrast-toggle" class="high-contrast-toggle-btn" role="switch" aria-checked="false" aria-labelledby="high-contrast-desc">
        <span id="js-high-contrast-btn-text" class="visually-hidden">Turn high contrast mode on</span>
        <span class="high-contrast-toggle-btn__icon" aria-hidden="true"></span>
    </button>
</div>