<div class="high-contrast-toggle box-flex text-400 pad-top-300 pad-bottom-300 pad-left-700 pad-right-700 stack-700">
    <span id="high-contrast-desc" aria-hidden="true">High contrast theme is <span id="js-high-contrast-state" class="high-contrast-toggle__state">off</span></span>
    <button id="js-high-contrast-toggle" class="high-contrast-toggle-btn" role="switch" aria-checked="false">
        <span id="js-high-contrast-btn-text" class="visually-hidden">Turn high-contrast theme on</span>
        <span class="high-contrast-toggle-btn__icon box-block" aria-hidden="true"></span>
    </button>
</div>