<aside>
    <div>
        <figure>
            <img src="https://source.unsplash.com/A7Bkbcm8lsk/466x466" alt="">
        </figure>
        <span id="palette-switcher">Change colour palette</span>
        <button role="switch" aria-checked="false" aria-labelledby="palette-switcher">
            <span>on</span>
            <span>off</span>
        </button>
    </div>
    <h2>Contact me:</h2>
    <p>Do you want to collaborate on something, ask a question, or just say hello? Find me here:</p>
    <a href="#">Email</a>
    <a href="#">Linkedin</a>
    <div class="high-contrast-toggle">
        <span id="high-contrast-desc">High contrast mode is ON</span>
        <button role="switch" aria-checked="true" aria-labelledby="high-contrast-desc">
            <span>on</span>
            <span>off</span>
        </button>
    </div>
</aside>
