<aside>
    <div>
        <figure>
            <img src="{{ sidebar.image }}" alt="{{ sidebar.imageAlt }}">
        </figure>
        <div class="palette-toggle">
            <span role="status" class="visually-hidden js-mode-status"></span>
            {% include "partials/bh-hanger-animated-button.html" %}
        </div>
    </div>
    <h2>{{ sidebar.heading }}</h2>
    <p>{{ sidebar.copy }}</p>
    <a href="{{ sidebar.email }}">{{ sidebar.emailText }}</a>
    <a href="{{ sidebar.socialUrl1 }}">{{ sidebar.socialText1 }}</a>
    <div class="high-contrast-toggle">
        <span id="high-contrast-desc">High contrast mode is ON</span>
        <button role="switch" aria-checked="true" aria-labelledby="high-contrast-desc">
            <span>on</span>
            <span>off</span>
        </button>
    </div>
</aside>
