<header role="banner" class="site-head">
    <a class="skip-link button" href="#main-content">Skip to content</a>
    <div class="wrapper site-head__inner">
        {# Show breadcrumb navigation if not on home page #}
        {% if 'home' != layout %}
            <nav class="nav site-breadcrumb" aria-label="Breadcrumb">
                <ul class="nav__list">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <span>›</span>
                    <li>
                        <span>{{ title }}</span>
                    </li>
                </ul>
            </nav>
            {% include "partials/theme-toggle.html" %}
            {% include "partials/high-contrast-toggle.html" %}
        {% endif %}
    </div>
</header>